@import "mixins.less";

.tapas-generic.normal {
  
  choice {
    
    reg, corr, expan {
      border-bottom: @hoverunderline;
    }
    
    orig, sic, abbr {
      border: @noteborder;
      padding: @boxpadding;
      .hide;
      background: @whitebackground;
    }
    
    &:hover {
      
      orig, sic, abbr {
        display: inline;
      }
    } // choice:hover
  } // choice

  del, subst del, fw {
    .hide;
  }

  gap { // TODO: this is basically the same ruleset as the one in diplomatic. Make sure we don't want to differentiate!
    border-bottom: @hoverunderline;
    .intervention-before('[');
    .intervention-after("(Unclear text)]");
    
    &[reason] {
      .intervention-after("(Gap reason: " attr(reason) ")]");
    
      &[unit] {
      
        &[extent] {
          .intervention-after("(Gap of " attr(extent) " " attr(unit) "; reason: " attr(reason) ")]");
        } // gap[reason][unit][extent]
  
        &[quantity] {
          .intervention-after("(Gap of " attr(quantity) " " attr(unit) "; reason: " attr(reason) ")]");
        } // gap[reason][unit][quantity]
      } // gap[reason][unit]
    } // gap[reason]
  } // gap

  .-teibp-pb {
    
    a {
      font-family: @sans-font-family;
      display: inline;
      margin: 0;
      text-align: left;
      text-decoration: none;
      color: gray;
      border-bottom: 0;
      
      &:before {
        font-family: "Segoe UI Symbol", "Arial Unicode MS", "DejaVu Sans", "Meiryo UI", "MS UI Gothic", "Everson Mono Unicode", Meiryo, "MS Gothic", "MS Mincho", "MS PGothic", "MS PMincho", "Meslo LG L", "Meslo LG L DZ", "Meslo M L", "Meslo M L DZ", "Meslo S L", "Meslo S L DZ", "Symbola", "DejaVu Sans Condensed", "DejaVu Sans Mono", Code2000, "Everson Mono", Quivira, sans-serif;
        content:"\002119";
        padding: 0 .5em 0 0;
        float:left;
      }
      
      &[data-tapas-n]:hover:before {
        content:"\002119 " attr(data-tapas-n);
      }
    } // .teibp-pb a
  } // .teibp-pb
} // .tapas-generic.normal
