@import url('http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic|Gentium+Book+Basic:400,400italic,700,700italic');
/* IMPORTS */
/* NAMESPACES */
/* @namespace "http://www.tei-c.org/ns/1.0"; */
/* @namespace with prefix, as below, throws an error in less. */
/* @namespace html "http://www.w3.org/1999/xhtml"; */
/* LESS VARIABLES */
/* Colors  */
/* Fonts */
/* Misc. */
/* LESS MIXINS */
.block {
  display: block;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
/* TAPAS-generated labels */
.tapas-generic.diplomatic add [hand]:hover:before {
  padding: 0 0.25em;
  display: inline;
  background-color: #DDD;
  color: #555;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  content: "(Added by: " attr(hand) " ) ";
}
.tapas-generic.diplomatic choice {
  border-bottom: 1px dotted #000000;
}
.tapas-generic.diplomatic choice reg,
.tapas-generic.diplomatic choice corr,
.tapas-generic.diplomatic choice expan {
  display: none;
}
.tapas-generic.diplomatic tei-del {
  text-decoration: line-through;
}
.tapas-generic.diplomatic subst,
.tapas-generic.diplomatic supplied,
.tapas-generic.diplomatic gap {
  border-bottom: 1px dotted #000000;
}
.tapas-generic.diplomatic supplied {
  /*&[reason]:hover {
      .intervention-before("[(Text supplied: " attr(reason) ") ");
    }*/
}
.tapas-generic.diplomatic gap {
  /*&[reason] {
      .intervention-after("(Gap reason: " attr(reason) ")]");
      
      &[unit] {
        
        &[extent] {
          .intervention-after("(Gap of " attr(extent) " " attr(unit) "; reason: " attr(reason) ")]");
        } // gap[reason][unit][extent]
    
        &[quantity] {
          .intervention-after("(Gap of " attr(quantity) " " attr(unit) "; reason: " attr(reason) ")]");
        } // gap[reason][unit][quantity]
      } // gap[reason][unit]
    } // gap[reason]*/
}
.tapas-generic.diplomatic lb:after {
  content: '\a';
  white-space: pre;
}
.tapas-generic.diplomatic milestone {
  background: #cccccc;
}
.tapas-generic.diplomatic milestone[n]:before {
  padding: 0 0.25em;
  display: inline;
  background-color: #DDD;
  color: #555;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  content: attr(n);
}
.tapas-generic.diplomatic milestone[n][unit]:before {
  padding: 0 0.25em;
  display: inline;
  background-color: #DDD;
  color: #555;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  content: attr(unit) " " attr(n);
}
.tapas-generic.diplomatic subst {
  padding: 5px;
}
.tapas-generic.diplomatic unclear {
  border-bottom: 1px dotted #000000;
  /*&:hover {
      .intervention-before(" (Unclear text) ");
    }
    
    &[reason]:hover {
      .intervention-before(" (Unclear text: " attr(reason) ") ");
    }*/
}
.tapas-generic.diplomatic .-teibp-pb {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 100%;
  text-align: right;
  color: gray;
  padding: 1em 0;
  font-size: 11pt;
  padding: 0.2em;
  margin: 2em 0;
  padding: 0 0.25em;
  display: inline;
  background-color: #DDD;
  color: #555;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
}
.tapas-generic.diplomatic .-teibp-pb a:before {
  padding: 0 0.25em;
  display: inline;
  background-color: #DDD;
  color: #555;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  content: "Page";
}
.tapas-generic.diplomatic .-teibp-pb a:hover {
  text-decoration: none;
  color: #808080;
}
.tapas-generic.diplomatic .-teibp-pb a[data-tei-n]:before {
  padding: 0 0.25em;
  display: inline;
  background-color: #DDD;
  color: #555;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  content: "Page " attr(data-tei-n);
}
.tapas-generic.diplomatic .-teibp-pb a.gallery-facs:before {
  content: " ";
}
.tapas-generic.diplomatic .-teibp-pb a.gallery-facs .-teibp-thumbnail {
  padding: 0.2em;
}
