@import "mixins.less";

.tapas-generic.normal {
  
  choice {
    
    orig, sic, tei-abbr {
      .hide;
    }
  } // choice

  subst tei-del, fw {
    .hide;
  }

  .-teibp-pb {
    
    a {
      font-family: @sans-font-family;
      display: inline;
      margin: 0;
      text-align: left;
      text-decoration: none;
      color: gray;
      border-bottom: 0;
      
      &:before {
        font-family: "Segoe UI Symbol", "Arial Unicode MS", "DejaVu Sans", "Meiryo UI", "MS UI Gothic", "Everson Mono Unicode", Meiryo, "MS Gothic", "MS Mincho", "MS PGothic", "MS PMincho", "Meslo LG L", "Meslo LG L DZ", "Meslo M L", "Meslo M L DZ", "Meslo S L", "Meslo S L DZ", "Symbola", "DejaVu Sans Condensed", "DejaVu Sans Mono", Code2000, "Everson Mono", Quivira, sans-serif;
        content:"\002119";
        padding: 0 .5em 0 0;
        float:left;
      }
      
      &[data-tapas-n]:hover:before {
        content:"\002119 " attr(data-tapas-n);
      }
    } // .teibp-pb a
  } // .teibp-pb
} // .tapas-generic.normal
