@import "mixins.less";

.tapas-generic.diplomatic {
  
  add {
    //background: @highlightyellow;
    
    [hand]:hover {
      .intervention-before("(Added by: " attr(hand) " ) ");
    }
  } // add
  
  choice {
    
    orig, sic, tei-abbr {
    }
    
    reg, corr, expan {
      .hide;
    }
  } // choice

  supplied {
    
    /*&[reason]:hover {
      .intervention-before("[(Text supplied: " attr(reason) ") ");
    }*/
  } // supplied
  
  gap {
    //.intervention-after("gap"); <-- moved to generic.less; preserved for reference
    
    /*&[reason] {
      .intervention-after("(Gap reason: " attr(reason) ")]");
      
      &[unit] {
        
        &[extent] {
          .intervention-after("(Gap of " attr(extent) " " attr(unit) "; reason: " attr(reason) ")]");
        } // gap[reason][unit][extent]
    
        &[quantity] {
          .intervention-after("(Gap of " attr(quantity) " " attr(unit) "; reason: " attr(reason) ")]");
        } // gap[reason][unit][quantity]
      } // gap[reason][unit]
    } // gap[reason]*/
  } // gap

  lb:after {
    content: '\a' ;
    white-space: pre;
  }

  milestone {
    background: @greybackground;
    
    &[n] {
      .intervention-before(attr(n));
      
      &[unit] {
        .intervention-before(attr(unit) " " attr(n));
      }
    } // milestone[n]
  } // milestone

  subst {
    padding: @boxpadding;
    //border: @noteborder;
  }

  unclear {
    border-bottom: @hoverunderline;
    
    /*&:hover {
      .intervention-before(" (Unclear text) ");
    }
    
    &[reason]:hover {
      .intervention-before(" (Unclear text: " attr(reason) ") ");
    }*/
  } // unclear


  .-teibp-pb {
    .pb;
    padding: 0.2em;
    margin: 2em 0;
    .intervention;
    
    a{
      
      &.-teibp-pageNum {
        .intervention-before("Page");
      
        &:hover {
          text-decoration: none;
          color: @linkgrey;
        }
      
        &[data-tei-n] {
          .intervention-before("Page " attr(data-tei-n));
        }
      } // a.-teibp-pageNum
      
      &.gallery-facs {
        padding-left: 1em;
        display: inline-block;
        
        .-teibp-thumbnail {
          padding: 0.2em;
        }
      } // a.gallery-facs
    } // a
  } // .-teibp-pb
} // .tapas-generic.diplomatic
