/* IMPORTS */
@import url('http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic|Gentium+Book+Basic:400,400italic,700,700italic');
/* NAMESPACES */
/* @namespace "http://www.tei-c.org/ns/1.0"; */
/* @namespace with prefix, as below, throws an error in less. */
/* @namespace html "http://www.w3.org/1999/xhtml"; */
/* LESS VARIABLES */
/* Colors  */
/* Fonts */
/* Misc. */
/* LESS MIXINS */
.block {
  display: block;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
/* TAPAS-generated labels */
.tapas-generic.normal choice reg,
.tapas-generic.normal choice corr,
.tapas-generic.normal choice expan {
  border-bottom: 1px dotted #000000;
}
.tapas-generic.normal choice orig,
.tapas-generic.normal choice sic,
.tapas-generic.normal choice tei-abbr {
  border: 1px solid #cccccc;
  padding: 5px;
  display: none;
  background: #ffffff;
}
.tapas-generic.normal choice:hover orig,
.tapas-generic.normal choice:hover sic,
.tapas-generic.normal choice:hover tei-abbr {
  display: inline;
}
.tapas-generic.normal tei-del,
.tapas-generic.normal subst tei-del,
.tapas-generic.normal fw {
  display: none;
}
.tapas-generic.normal gap {
  border-bottom: 1px dotted #000000;
}
.tapas-generic.normal gap:before {
  padding: 0 0.25em;
  display: inline;
  background-color: #DDD;
  color: #555;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  content: '[';
}
.tapas-generic.normal gap:after {
  padding: 0 0.25em;
  display: inline;
  background-color: #DDD;
  color: #555;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  content: "(Unclear text)]";
}
.tapas-generic.normal gap[reason]:after {
  padding: 0 0.25em;
  display: inline;
  background-color: #DDD;
  color: #555;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  content: "(Gap reason: " attr(reason) ")]";
}
.tapas-generic.normal gap[reason][unit][extent]:after {
  padding: 0 0.25em;
  display: inline;
  background-color: #DDD;
  color: #555;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  content: "(Gap of " attr(extent) " " attr(unit) "; reason: " attr(reason) ")]";
}
.tapas-generic.normal gap[reason][unit][quantity]:after {
  padding: 0 0.25em;
  display: inline;
  background-color: #DDD;
  color: #555;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  content: "(Gap of " attr(quantity) " " attr(unit) "; reason: " attr(reason) ")]";
}
.tapas-generic.normal .-teibp-pb a {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: inline;
  margin: 0;
  text-align: left;
  text-decoration: none;
  color: gray;
  border-bottom: 0;
}
.tapas-generic.normal .-teibp-pb a:before {
  font-family: "Segoe UI Symbol", "Arial Unicode MS", "DejaVu Sans", "Meiryo UI", "MS UI Gothic", "Everson Mono Unicode", Meiryo, "MS Gothic", "MS Mincho", "MS PGothic", "MS PMincho", "Meslo LG L", "Meslo LG L DZ", "Meslo M L", "Meslo M L DZ", "Meslo S L", "Meslo S L DZ", "Symbola", "DejaVu Sans Condensed", "DejaVu Sans Mono", Code2000, "Everson Mono", Quivira, sans-serif;
  content: "\002119";
  padding: 0 .5em 0 0;
  float: left;
}
.tapas-generic.normal .-teibp-pb a[data-tapas-n]:hover:before {
  content: "\002119 " attr(data-tapas-n);
}
